---
layout: markdown_page
title: "Category Direction - Notifications"
---

- TOC
{:toc}

|                       |                               |
| -                     | -                             |
| **Stage** | [Manage](/direction/manage/) |
| **Maturity** | - |
| **Last reviewed** | `2024-04-18` |

## Introduction and how you can help

<%= partial("../templates/intro.html", { locals: { context: "Notifications category", label: "Category:Notifications" }}) %>

## Strategy and themes

TBD

## 1 year plan

**Problem validation**

We are preparing to make improvements to the to-dos/notifications functionality in GitLab. We have audited previous research, user comments, and internal explorations to understand the core challenges and opportunities in this space. We are now conducting light-weight user research to validate the key themes we uncovered before moving forward to address them.

[**Notifications MVC**](https://gitlab.com/groups/gitlab-org/-/epics/13580)

We will outline the details of our initial MVC once we have completed problem validation.

### What is next for us

See our [roadmap in GitLab](https://gitlab.com/groups/gitlab-org/-/roadmap?state=all&sort=start_date_asc&layout=QUARTERS&timeframe_range_type=THREE_YEARS&label_name%5B%5D=group::foundations&label_name%5B%5D=direction&label_name%5B%5D=Category:Notifications&progress=COUNT&show_progress=true&show_milestones=false&milestones_type=GROUP&show_labels=false).

### What we are currently working on

See the [current Personal productivity milestone plan](/direction/manage/personal_productivity#what-are-we-currently-working-on) on our group direction page.

## Target audience

Notifications are used by all users, so any changes we make must consider the needs of a broad range of personas.
That said, the areas we focus on are most impactful to people that use GitLab daily. We see the following personas as being our key targets:

* [Parker (Product Manager)](https://handbook.gitlab.com/handbook/product/personas/#parker-product-manager)
* [Delaney (Development Team Lead)](https://handbook.gitlab.com/handbook/product/personas/#delaney-development-team-lead)
* [Presley (Product Designer)](https://handbook.gitlab.com/handbook/product/personas/#presley-product-designer)
* [Sasha (Software Developer)](https://handbook.gitlab.com/handbook/product/personas/#sasha-software-developer)
* [Priyanka (Platform Engineer)](https://handbook.gitlab.com/handbook/product/personas/#priyanka-platform-engineer)
* [Rachel (Release Manager)](https://handbook.gitlab.com/handbook/product/personas/#rachel-release-manager)
* [Simone (Software Engineer in Test)](https://handbook.gitlab.com/handbook/product/personas/#simone-software-engineer-in-test)
* [Amy (Application Security Engineer)](https://handbook.gitlab.com/handbook/product/personas/#amy-application-security-engineer)
* [Isaac (Infrastructure Engineer)](https://handbook.gitlab.com/handbook/product/personas/#isaac-infrastructure-security-engineer)
* [Alex (Security Operations Engineer)](https://handbook.gitlab.com/handbook/product/personas/#alex-security-operations-engineer)